<div class="jumbotron jumbotron-fluid test">
    <div class="container mt-4">
      <h1 class="display-4">Mi primer SPA</h1>
      <p class="lead">Este es mi primer SPA y es una APP de Heroes.</p>
    </div>
    <p>
      Para crear un PIPE ponemos el siguiente comando
      <strong> ng g pipe pipes/[nombre] </strong>
    </p>
    <h3>Dom seguro</h3>
    <div class="row">
      <div class="col">
         <div>
            <p>
              aqui se pone una API de youtube al src lo ponemos como [src]="videoUrl"
              a videoUrl lo ponemos en el component.ts y adentro de la varibale va la URL del video y como si fuera un string y despues de eso lo volvemos seguro de esta forma:
            </p>
            <p>
              se crea otro compoente pipe

            </p>
         </div>
       </div>
    </div>
  </div>